@import '../../../assets/styles/main.scss';

.menu-container {
@include menu-container($menu-mobile-scale : 1.1);


@media (max-width: $breakpoint-mobile) {
  max-width : 25rem;
}

@media (min-width: $breakpoint-minimum-desktop) {
  max-width : 14rem;
}
}

.menu-header {
@include menu-header($menu-mobile-scale : 1.3);
}

.input-group {
 @include input-group($menu-mobile-scale : 1.1);
 max-width : 100%;
}

button {
  @include submenu-button($menu-mobile-scale : 1.4);
}