@import '../../../assets/styles/main.scss';

.submenu-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $neutral-lighter;
  border-radius: 8px;
  width: $submenu-width-desktop;
  box-shadow: $box-shadow;

  @include mobile {
    width: $menu-width-mobile;
    max-width: $menu-width-mobile-max;
  }
}

.submenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 18px;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $primary;

    &:hover {
      color: $primary-darker;
    }
  }
}

.input-group {
  margin-top: 16px;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type='text'] {
    width: 100%;
    padding: 8px;
    border: 1px solid $neutral-darker;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; // Ensure input fits within the container
  }
}

.action-button-group {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  button {
    @include button();
  }
}

/* Added shadow to the submenu */
.submenu-container {
  box-shadow: $box-shadow;
}
