<div class="desktop-navbar">
  <div class="desktop-navbar-container">
<div class="left-navbar-container">
  <div class="logo-container">
    <img class = "logo"  src="images/logo-light.svg" alt="Logo">
  </div>
  <div class="actions-container">
    <div>
      <button class = "nav-button" (click)="goToDashboard()" >dashboard</button>
  </div>
  <!-- Logout button for registered users -->
    <div *ngIf="(auth.isAuthenticated$ | async) && !isGuest">
      <button class = "nav-button" (click)="logout()">sign out</button>
    </div>
    <div *ngIf="isGuest">
      <!-- Login button for non-registered users (guests) -->
      <button class = "nav-button" (click)="login()">sign in</button>
    </div>

  <!-- Not authenticated and not guest -->
  <div *ngIf="!(auth.isAuthenticated$ | async) && !isGuest">
    <button class = "nav-button" (click)="login()">sign in</button>
  </div>

  <div *ngIf="!(auth.isAuthenticated$ | async) && !isGuest">
    <button class = "nav-button" (click)="continueAsGuest()">continue as guest</button>
  </div>
</div>
</div>

<div class="user-status-section">
  <p *ngIf="isGuest">guest</p>
  <p *ngIf="(auth.isAuthenticated$ | async) && !isGuest">signed in as user</p>
</div>
</div>


</div>

<!-- Mobile Navbar -->
<div class="navbar mobile-navbar">
  <div class="mobile-navbar-container">
    <div class="logo-container">
      <img class = "logo"  src="images/logo-light.svg" alt="Logo">
    </div>
  <app-hamburger-button [scale]="2" class="open-menu" (click)="toggleMobileMenu()"></app-hamburger-button>
</div>
  <div *ngIf="isMobileMenuOpen" class="mobile-menu show">
    <app-x-button class="close-menu" (click)="toggleMobileMenu()" [scale]="1.2"></app-x-button>
    <!-- Mobile menu content -->
     <div>
      
    <div>
      <button class = "nav-button" (click)="goToDashboard()" >dashboard</button>
  </div>
  <!-- Logout button for registered users -->
    <div *ngIf="(auth.isAuthenticated$ | async) && !isGuest">
      <button class = "nav-button" (click)="logout()">sign out</button>
    </div>
    <div *ngIf="isGuest">
      <!-- Login button for non-registered users (guests) -->
      <button class = "nav-button" (click)="login()">sign in</button>
    </div>

  <!-- Not authenticated and not guest -->
  <div *ngIf="!(auth.isAuthenticated$ | async) && !isGuest">
    <button class = "nav-button" (click)="login()">sign in</button>
  </div>

  <div *ngIf="!(auth.isAuthenticated$ | async) && !isGuest">
    <button class = "nav-button" (click)="continueAsGuest()">continue as guest</button>
  </div>
</div>
<div>
  <div class="user-status-section">
    <p *ngIf="isGuest">guest</p>
    <p *ngIf="(auth.isAuthenticated$ | async) && !isGuest">signed in as user</p>
  </div>
</div>
  
  </div>
</div>

<router-outlet></router-outlet>

<!-- Router outlet for your routed components -->
