# Set the default behavior for text files
* text=auto

# Explicitly declare text files to be normalized and converted to native line endings on checkout.
*.js text
*.ts text
*.html text
*.css text
*.json text
*.md text
*.xml text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary