#Environment files
/frontend/src/environments/environment.ts
/frontend/src/environments/environment.prod.ts

# Ignore build outputs, temporary files, and user-specific settings
/backend/bin/
/backend/obj/
/frontend/node_modules/
/frontend/dist/

# User-specific files
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates

# ASP.NET Core environment files
/backend/appsettings.json

# VS Code settings
.vscode/

# Ignore backend environment file
/backend/app.env

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/frontend/.angular/cache
.sass-cache/
/connect.lock
/frontend/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
