@import '../../../assets/styles/main.scss';

.submenu-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $neutral-lighter;
  border-radius: 8px;
  width: $submenu-width-desktop;
  box-shadow: $box-shadow;

  @include mobile {
    width: $menu-width-mobile;
    max-width: $menu-width-mobile-max;
  }
}

.submenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    font-size: 18px;
  }
}

.input-group,
.color-selection-group,
.action-button-group {
  margin-top: 16px;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input[type='text'] {
    width: 100%;
    padding: 8px;
    border: 1px solid $neutral-darker;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
}

.action-button-group {
  display: flex;
  justify-content: flex-end;

  button {
   @include button()
  }
}
