@import '../../assets/styles/main.scss';


.input-error {
  box-shadow: 0 0 0 1.5px $error;
}

.welcome-container {
  margin : auto;
  max-width : 350px;
  margin-top : 10vh;
  gap : 1.5rem;
  display : flex;
  align-items: center;
  flex-direction: column;
  width : 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}

.logo {
  width: 100%;
}

.icon {
  height : 1.75rem;
}

.buttons-container {
  display : flex;
  flex-direction : column;
  align-items: center;
  margin-bottom : 1.5rem;
  gap : 0.25rem;
}

.login-button {

}

.signup-button {
  display : none;
}

.regular-button {
  @include button( $min-width : 100%, $scale: 1.1, $border-radius : $text-input-border-radius);
  user-select: none; /* Standard */
  -webkit-user-select: none; /* For Webkit-based browsers (Chrome, Safari) */
  -moz-user-select: none; /* For Firefox */
}

.powered-by-auth0 {
  color : $secondary-darker;
  font-size : 0.6rem;
  font-weight: 300;
}

form {
  width : 250px;
  margin-bottom : 2rem;
  display : flex;
  flex-direction : column;
}

input {
  background-color: $secondary-darker;
  width : 100%;
  border-radius : $text-input-border-radius;
  border : none;
  padding : 0.5rem 0.5rem;
  margin-bottom : 0.55rem;
  font-size : 1.1rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

.icon-buttons-container {
  width : 100%;
  display : flex;
  justify-content: center;
}

.icon-buttons-wrapper {
  display : flex;
  gap : 0.75rem;
}

.icon-button {
  background : none;
  border : none;
  cursor: pointer;
}


hr {
  margin-bottom : 1rem;
  display: block;
height: 1px;
border: 0;
border-top: 1.5px solid $secondary;
margin: 1em 0;
padding: 0;
}

//######################


.account-status-container {
  display : flex;
  flex-direction: column;
  align-items: center;
  gap : 0.2rem;
  user-select: none;
  span {
    color : $secondary-darker;

  }

  button {
    background : none;
    color : $secondary-darker;
    border : none;
    cursor : pointer;
  }
}

.no-account-span {

}

.no-account-button {

}

.has-account-span {
  display : none;
}

.has-account-button {
  display : none;
}

.error-message {
  display : none;
  background-color: $error-lighter;
  color : $error-darker;
  border-radius : $text-input-border-radius;
  width : 100%;
  box-sizing: border-box;
  padding : 0.5rem;
  margin-top : 1rem;
  font-size : 0.85rem;
}

//############################################### GOOGLE
.google-button-wrapper {
  width : 100%;
  display : flex;
  justify-content: center;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: $secondary-darker;
  background-image: none;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: min-content;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  line-height: 1.2 !important;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #001d35;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #001d35;
  opacity: 8%;
}
