{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=ticketer_db;User=root;Password=<YOUR PASSWORD>;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
