<div class="submenu-container">
  <!-- Text input section -->
  <div class="input-group">
    <input
      id="textInput"
      type="text"
      [(ngModel)]="textInputValue"
      [placeholder]="placeholder"
    />
  </div>

  <!-- Action button and close button on the same row -->
  <div class="action-button-group">
    <button (click)="onActionClicked()">{{ buttonText }}</button>
    <app-x-button (click)="onCloseClicked()" [scale] = '1.3' [color]='xColor' [hoverColor]='xHoverColor'></app-x-button>
  </div>
</div>
