@import '../../../assets/styles/main.scss';

.submenu-container {
  display: flex;
  flex-direction: column;
  background-color: $background;
  border-radius: $list-border-radius;
  width: 100%;
  box-sizing: border-box
}

.input-group {

  input[type='text'] {
    font-size : 1rem;
    padding : 0.2rem 0.5rem 0.32rem 0.5rem;
    width: 100%;
    border: 0.13rem solid $neutral-darker;
    border-radius: $ticket-border-radius;
    height : 2.5rem;
    box-sizing: border-box;
    background : $neutral-lighter;
    border-color: $secondary;
    color : $secondary;
  }::placeholder {
    color : rgba($color: #ffffff, $alpha: 0.5);
  }
}

.action-button-group {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap : 0.45rem;

  button {
    @include button($primary, $primary-darker);
  }

  .x-button {
    margin-top : 0.15rem;
  }
  }

