<div class="submenu-container" [style.padding]="getPadding()">
  <!-- Text input section -->
  <div class="input-group">
    <input
      #inputField
      autocomplete="off"
      id="textInput"
      type="text"
      [(ngModel)]="textInputValue"
      [placeholder]="placeholder"
      (keyup.enter)="onActionClicked()"
    />
  </div>

  <!-- Action button and close button on the same row -->
  <div class="action-button-group">
    <button (click)="onActionClicked()">{{ buttonText }}</button>
    <app-x-button class="x-button" (click)="onCloseClicked()"></app-x-button>
  </div>
</div>
