<div
  #scrollableBoard
  class="board-page-wrapper"
  [ngStyle]="getBackgroundStyle()"
  cdkScrollable
>
  <div class="board-page-container" *ngIf="boardDetails">
    <!-- Board Header -->
    <div class="board-header">
      <div class="board-header-inner-container">
        <!-- Board Name -->
        <ng-container *ngIf="!isRenamingBoard">
          <span class="board-name" (click)="enableBoardRenaming($event)">
            {{ boardDetails?.name }}
          </span>
        </ng-container>
        <ng-container *ngIf="isRenamingBoard">
          <div>
            <span
              #boardNameSpan
              contenteditable="true"
              id="board-name-input"
              class="board-name-input"
              (blur)="saveBoardName()"
              (input)="onBoardNameInput()"
              (keydown)="onBoardNameKeydown($event)"
              (click)="$event.stopPropagation()"
            >
            </span>
          </div>
        </ng-container>
        <!-- Menu Button -->
        <button
          id="board-menu-button"
          class="menu-button"
          (click)="openMenuOverlay($event)"
        >
          ⋮ menu
        </button>
      </div>
    </div>

    <!-- Lists Drag-and-Drop Container -->
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="boardDetails.lists"
      (cdkDropListDropped)="onListDrop($event)"
      [cdkDropListDisabled]="listRenamingStatus"
      [cdkDropListAutoScrollDisabled]="false"
      class="lists-container"
    >
      <div
        *ngFor="let list of boardDetails.lists; let i = index"
        cdkDrag
        class="board-list-container"
        [cdkDragDisabled]="isListDraggingDisabled"
        (cdkDragStarted)="onDragStarted()"
        (cdkDragEnded)="onDragEnded()"
      >
        <app-list
          [id]="list.id"
          [name]="list.name"
          [position]="list.position"
          [tickets]="list.tickets"
          [colorMap]="colorMap"
          [connectedDropLists]="listIds"
          [boardNameSlug]="boardNameSlug"
          [boardId]="boardDetails.id"
          (ticketPositionChanged)="onTicketPositionChanged($event)"
          (listRenamed)="onListRenamed($event)"
          (listDuplicated)="onListDuplicated($event)"
          (listDeleted)="onListDeleted($event)"
          (ticketCreated)="onTicketCreated($event)"
          (listRenaming)="onListRenaming($event)"
          (isHoldingCreateBoardItemSubmenu)="
            onHoldingCreateBoardItemSubmenu($event)
          "
        ></app-list>
        
        <!-- Placeholder for List Dragging -->
        <div *cdkDragPlaceholder class="list-placeholder"></div>
      </div>
          <!-- Add List Section -->
    <div
    class="add-list-section-wrapper"
    [ngStyle]="{
      background: showCreateListSubmenu ? 'var(--background)' : 'transparent'
    }"
  >
    <div
      *ngIf="!showCreateListSubmenu"
      class="add-list-section"
      (click)="onAddListButtonClick()"
    >
      <app-plus-button
        label="Add another list"
        [color]="plusButtonColor"
        [hoverColor]="plusButtonHoverColor"
        [isFullWidth]="true"
        height="4.8rem"
        (click)="onAddListButtonClick()"
      ></app-plus-button>
    </div>
    <ng-container *ngIf="showCreateListSubmenu">
      <app-create-board-item-submenu
        [placeholder]="'Enter list name...'"
        [buttonText]="'Add list'"
        (menuAction)="onCreateListSubmenuAction($event)"
        (close)="onCreateListSubmenuClose()"
      ></app-create-board-item-submenu>
    </ng-container>
  </div>
    </div>


    <router-outlet></router-outlet>
  </div>
</div>
