@import '../../../assets/styles/main.scss';

.board-page-wrapper {
  position: relative;
  width: min-content;
  height: 100%;
  overflow: hidden; /* Hide any overflowing content */

  /* Fix the background gradient */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.board-page-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 12.5rem;
  gap: 2rem;
  background: none;
}

.board-header {
  position: fixed;
  top: 6rem; /* Ensures it stays at the top of the viewport */
  left: 1rem; /* Adds a margin of 1rem from the left of the viewport */
  right: 1rem; /* Adds a margin of 1rem from the right of the viewport */
  padding: 1rem; /* Maintains the internal padding */
  display: flex; /* Keeps flex properties intact */
  flex-direction: column; /* Maintains the column layout */
  z-index: 1000; /* Ensures it is above other elements */
}

.board-header-inner-container {
  display: flex;
  justify-content: space-between;
}

.board-name {
  h1 {
    color: $secondary;
    cursor: pointer;
    font-size: 3rem;
  }

  input[type='text'] {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    background: transparent;
    color: $secondary;
  }
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $secondary;
  cursor: pointer;
}

.menu-wrapper {
  top: 50px;
  left: 16px;
  z-index: 1000;
}

.add-list-section {
  width: 300px; /* Same width as list */
  min-width: 300px;
  background-color: $neutral-lighter;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-right : -2rem;
}

.add-list-button {
  background: none;
  border: none;
  color: $primary;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}
