@import '../../../assets/styles/main.scss';

$gap-between-lists: 1rem;

.board-page-wrapper {
  position: relative;
  flex-grow : 1;
  height: 100%;
  overflow-y: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scrollbar-color: rgb(182, 182, 182) rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.lists-container {
  @include no-highlight;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height : 100%;
  gap: $gap-between-lists;
  padding-left: $gap-between-lists;
  padding-right: $gap-between-lists;
  overflow-x: scroll; // Ensure horizontal scrolling
}

$board-name-padding : 0.35rem;

.board-header {
  max-width : 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top : 1rem;
  padding-bottom : 1rem;
  padding-right : $gap-between-lists;
  padding-left : calc($gap-between-lists - $board-name-padding);
}


.board-name-textarea {
  @include no-highlight;
  width: 100%;
  @include font-size-xxxl;
  font-weight: bold;
  color: $secondary;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: $board-name-padding;
  margin-right: 1rem;
  line-height: 1.2;
  box-sizing: border-box;
  border: 0.2rem solid transparent;
  border-radius: $text-input-border-radius;
  resize: none;
  overflow: hidden;
  min-height: calc(1.3 * 1rem);

  &:read-only {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:not(.editing) {
    border: 0.2rem solid transparent;

    &:focus {
      border: 0.2rem solid transparent;
    }
  }

  &.editing {
    background-color: $neutral-darker;
    border: 0.2rem solid $secondary;
    cursor: text;
  }

  &::placeholder {
    color: rgb(255 255 255 / 55%);
  }
}


.add-list-section-wrapper {
  min-width: $total-list-width;
  padding: 1rem 0;
  height: min-content;
  box-sizing: border-box;
  border-radius: $list-border-radius;
  
}

.add-list-section {
  display: flex;
  justify-content: center;
  padding-left: $list-horizontal-padding;
  box-sizing: border-box;
  background-color: rgba($color: #ffffff, $alpha: 0.22);
  border-radius: $list-border-radius;
  display: flex;
  flex-direction: column;
  //margin-right: -$list-horizontal-padding;
  margin-top: -1rem;
  transition: background-color $button-transition-time ease;
  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.list-placeholder {
  background-color: $background-lighter;
  border-radius: $list-border-radius;
  height: 30rem;
  max-height : 45vh;
  min-width: $total-list-width;
  max-width: $total-list-width;
  border: none;
}

.board-list-container {
  height: min-content;
}