@import '../../../assets/styles/main.scss';

$gap-between-lists: 1.5rem;

.board-page-wrapper {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scrollbar-color: rgb(182, 182, 182) rgb(0, 0, 0, 0.5);
  overflow-x: auto; // Ensure horizontal scrolling
}

.board-page-container {
  width: min-content;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 12.5rem;
  background: none;
  padding-right : 1rem;
}

.lists-container {
  display: flex;
  flex-direction: row;
  gap: $gap-between-lists;
  padding-left: $gap-between-lists;
  padding-right: $gap-between-lists;
}

.board-header {
  position: fixed;
  top: 6rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.board-header-inner-container {
  display: flex;
  justify-content: space-between;
}

@mixin board-name-template($max-width : '150rem', $border-color: transparent, $background-color:transparent ) {
  font-size : 3rem;
  font-weight : bold;
  color : $secondary;
  border-radius: $text-input-border-radius;
  box-sizing: border-box;
  border : 0.2rem solid $border-color;
  padding : 0.35rem;
  overflow: hidden; // Hide overflowing text
  background-color : $background-color;
  white-space: nowrap; // Prevent text from wrapping
  max-width : $max-width
}

.board-name {
  @include board-name-template(150rem);
  text-overflow: ellipsis; // Display '...'
}

.board-name-input {
  @include board-name-template( 150rem, $secondary, $neutral-darker);
  outline: none; // Remove the outline when focused
  display: inline-block;
  min-width: 5rem;
  user-select: text;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: $secondary;
  cursor: pointer;
}

.menu-wrapper {
  top: 50px;
  left: 16px;
  z-index: 1000;
}

.add-list-section-wrapper {
  width: $total-list-width;
  padding: 1rem $list-horizontal-padding;
  height: min-content;
  margin-right: -$gap-between-lists;
  box-sizing: border-box;
  border-radius: $list-border-radius;
}

.add-list-section {
  display: flex;
  justify-content: center;
  padding-left: $list-horizontal-padding;
  box-sizing: border-box;
  background-color: rgba($color: #ffffff, $alpha: 0.22);
  border-radius: $list-border-radius;
  display: flex;
  flex-direction: column;
  margin-left: -$list-horizontal-padding;
  margin-right: -$list-horizontal-padding;
  margin-top: -1rem;
  transition: background-color $button-transition-time ease;
  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.add-list-button {
  background: none;
  border: none;
  color: $primary;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

.list-placeholder {
  background-color: $background-lighter;
  border-radius: $list-border-radius;
  height: 30rem;
  min-width: $total-list-width;
  max-width: $total-list-width;
  border: none;
}

.board-list-container {
  height: min-content;
}
