<div class="board-container">
  <div
    cdkDropListGroup
    *ngIf="boardDetails"
  >
    <div
      cdkDropList
      class="list-container"
      (cdkDropListDropped)="onListDrop($event)"
      [cdkDropListData]="boardDetails.lists"
      cdkDropListOrientation="horizontal"
    >
      <div *ngFor="let list of boardDetails.lists; let i = index" cdkDrag>
        <app-list
          [id]="list.id"
          [name]="list.name"
          [position]="list.position"
          [tickets]="list.tickets"
          [colorMap]="colorMap"
          [connectedDropLists]="listIds"
          (ticketPositionChanged)="onTicketPositionChanged($event)"
        ></app-list>
      </div>
    </div>
  </div>
</div>
