<div class="dashboard">
  <!-- Button to open the submenu -->
  <button class="open-submenu-button" (click)="openSubmenu()">Create Board</button>

  <!-- Submenu component -->
  <app-generate-board-submenu
    *ngIf="showSubmenu"
    [title]="submenuTitle"
    [textInputLabel]="textInputLabel"
    [colorSelectionHeader]="colorSelectionHeader"
    [buttonText]="buttonText"
    [colorId]="defaultColorId"
    (menuAction)="handleMenuAction($event)"
    (close)="showSubmenu = false"
  ></app-generate-board-submenu>
</div>
