<div class="dashboard">
  <div class="board-grid">
    <app-board-thumbnail
      *ngFor="let board of boards"
      [id]="board.id"
      [name]="board.name"
      [colorId]="board.colorId"
      [showMenu]="openMenuBoardId === board.id" 
      (toggleMenu)="toggleBoardMenu(board.id)" 
      (boardUpdated)="onBoardUpdated(board.id, $event)"
      (boardDeleted)="onBoardDeleted(board.id)"
      (boardDuplicated)="onBoardDuplicated($event)"
    ></app-board-thumbnail>
  </div>

  <button class="open-submenu-button" (click)="openSubmenu()">Create Board</button>

  <app-generate-board-submenu
    *ngIf="showSubmenu"
    [title]="submenuTitle"
    [textInputLabel]="textInputLabel"
    [colorSelectionHeader]="colorSelectionHeader"
    [buttonText]="buttonText"
    [colorId]="defaultColorId"
    (menuAction)="handleMenuAction($event)"
    (close)="showSubmenu = false"
  ></app-generate-board-submenu>
</div>
