<div class="dashboard-container">
  <div class="title-grid-wrapper">
    <h1 class="title">Your boards</h1>
    <div class="board-grid">
      <app-board-thumbnail
        *ngFor="let board of boards"
        [id]="board.id"
        [name]="board.name"
        [colorId]="board.colorId"
        [showMenu]="openMenuBoardId === board.id"
        (toggleMenu)="toggleBoardMenu(board.id)"
        (boardUpdated)="onBoardUpdated(board.id, $event)"
        (boardDeleted)="onBoardDeleted(board.id)"
        (boardDuplicated)="onBoardDuplicated($event)"
      ></app-board-thumbnail>
    </div>
  </div>
  <div class="plus-button-wrapper">
    <app-plus-button
      (click)="openSubmenu($event)"
      [scale]="1"
      label="Create new board"
      class="create-new-board-button-smaller"
    ></app-plus-button>
    <app-plus-button
      (click)="openSubmenu($event)"
      [scale]="1.5"
      fontSize="1.5rem"
      label="Create new board"
      class="create-new-board-button-larger"
    ></app-plus-button>
  </div>
  </div>

