@import '../../../assets/styles/main.scss';

.menu-container {
@include menu-container;
}

.menu-header {
@include menu-header;
}

.confirmation-message {
  margin-bottom : 0.5rem;
  font-size: 1.1rem;
  max-width : 15rem;
  font-weight : 300;
}

button {
  @include submenu-confirmation-button;
}
