  @import '../../../../assets/styles/main.scss';

  $list-title-padding-left : 0.2rem;

  .list-container {
    background-color: $background;
    border-radius: $list-border-radius;
    padding: $list-vertical-padding $list-horizontal-padding;
    display: flex;
    flex-direction: column;
    width: $list-width;
    max-width: $list-width;
    max-height: calc(92vh - 165.6px); /* Where 165.6px is the approx height of the board header + nav bar combined)
    position: relative; /* Added for positioning the menu */

    @media (max-height : 800px) {
      max-height: calc(90vh - 165.6px);
    }
    @media (max-height : 550px) {
      max-height: calc(88vh - 165.6px);
    }

      }

  .list-container:hover {
    cursor : pointer;
  }

  .list-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }

  .list-title-textarea {
    user-select: none;
    @include no-highlight;
    width: 100%;
    @include font-size-lg;
    font-weight: bold;
    color: $secondary;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.2rem;
    padding-left: $list-title-padding-left;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    resize: none;
    overflow: hidden;
    min-height: calc(1.3 * 1rem); /* Height of one line of text */
  
    &:read-only {
      user-select: none;
      cursor: pointer;
    }

    &:focus {
      user-select: none;
      outline: none;
    }
  
    &:not(.editing) {
      user-select: none;
      border: 1px solid transparent;
  
      &:focus {
        user-select: none;
        border: 1px solid transparent;
      }
    }
  
    &.editing {
      user-select: none;
      background-color: $background-lighter;
      border: 1px solid $secondary;
      cursor: text;
    }
  
    &::placeholder {
      user-select: none;
      color: rgb(255 255 255 / 55%);
    }
  }
  
  .list-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    user-select: none;
  }

  .add-ticket-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    user-select: none;
  }

  .menu-button {
    align-self: flex-start;
    background: none;
    border: none;
    font-size : 1.5rem;
    cursor: pointer;
    color: $neutral-lighter;
    padding-left : 0.5rem;
    padding-right : 0.5rem;
    margin-right : -0.5rem;
    margin-bottom : 0.1rem;
  }

  .menu-wrapper {
    position: absolute;
    top: 40px; /* Adjust as needed */
    right: 0;
    z-index: 1000;
  }

  .ticket-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Allow the ticket list to grow and fill available space */
    scrollbar-width: thin;
    scrollbar-color: $background-lighter $background;
    cursor :auto;
  }

  .add-ticket-section {
    margin-top: 0.7rem;
    margin-bottom : -0.2rem
  }

  .plus-button-wrapper {
    border-radius : 0.75rem;
    padding-left : 0.5rem;
    transition: background-color $button-transition-time ease;

    &:hover {
      background-color : rgba($color: #ffffff, $alpha: 0.15)
    }
  }

  .empty-list-placeholder {
    padding: 20px;
    text-align: center;
    color: $neutral-darker;
    background-color: $neutral-lighter;
    border-radius: $ticket-border-radius;
    @include font-size-md;
  }

  .ticket-placeholder {
    min-height: 96px; /* Match the height of the ticket */
    background-color: $background-lighter;
    border-radius: $ticket-border-radius;
  }

  /* Drag Animations */
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
      cursor: pointer;
  }


  .drag-preview {
    cursor: pointer; /* Custom cursor for the drag preview */
  }