<div class="list-container">
  <!-- List Header -->
<!-- List Header -->
<div class="list-header">
  <textarea
    autocomplete="off"
    id="list-name-textarea-{{ id }}"
    class="list-title-textarea"
    [(ngModel)]="newListName"
    [readonly]="!isRenamingList"
    [ngClass]="{ 'editing': isRenamingList }"
    (click)="onListNameClick($event)"
    (blur)="saveListName()"
    (input)="adjustTitleTextareaHeight()"
    (keydown.enter)="handleTitleEnter($event)"
    (keydown.escape)="cancelNameEditing()"
    rows="1"
  ></textarea>
  <button
    class="menu-button"
    (click)="openMenuOverlay($event); $event.stopPropagation()"
  >
    ⋮
  </button>
</div>


  <!-- Tickets Drag-and-Drop Container -->
  <div
    cdkDropList
    [cdkDropListData]="tickets"
    [cdkDropListConnectedTo]="connectedDropLists"
    [id]="cdkDropListId"
    class="ticket-list"
    (cdkDropListDropped)="onTicketDrop($event)"
  >
    <!-- Placeholder for Empty List -->
    <div *ngIf="tickets.length === 0" class="empty-list-placeholder">
      Drop tickets here
    </div>

    <ng-container *ngFor="let ticket of tickets; let i = index">
      <div
        cdkDrag
        [cdkDragData]="ticket"
        class="ticket-wrapper"
        (cdkDragStarted)="onDragStarted($event)"
        (cdkDragEnded)="onDragEnded()"
        (click)="onTicketClicked(ticket.id, $event)"
      >
        <app-ticket
          [id]="ticket.id"
          [name]="ticket.name"
          [description]="ticket.description"
          [colorId]="ticket.colorId"
          [position]="ticket.position"
          [colorMap]="colorMap"
        ></app-ticket>
        <!-- Custom Placeholder -->
        <div *cdkDragPlaceholder class="ticket-placeholder"></div>
      </div>
    </ng-container>

    
  </div>
  <!-- Add Ticket Section -->
  <div class="add-ticket-section">
    <ng-container *ngIf="!showCreateTicketSubmenu">
      <div class="plus-button-wrapper">
      <app-plus-button label="Add a ticket" [color]="plusButtonColor" [hoverColor]="plusButtonHoverColor" (click)="onAddTicketButtonClick()"
      [isFullWidth]="true" height="2.5rem" [scale]="0.75"
      class="plus-button"
      ></app-plus-button>
    </div>
    </ng-container>
    <ng-container *ngIf="showCreateTicketSubmenu">
      <app-create-board-item-submenu
        [placeholder]="'Enter ticket name...'"
        [buttonText]="'Add ticket'"
        (menuAction)="onCreateTicketSubmenuAction($event)"
        (close)="onCreateTicketSubmenuClose()"
        (isHoldingCreateBoardItemSubmenu)="onIsHoldingCreateBoardItemSubmenu($event)"
      ></app-create-board-item-submenu>
    </ng-container>
  </div>
</div>
