<div class="overlay" (click)="closeTicketView()">
  <div
    id="ticket-detailed-view"
    class="ticket-detailed-view"
    (click)="onTicketViewClick($event)"
  >
    <!-- Header Stripe with Color and Close Button -->
    <div class="header-stripe" [style.backgroundColor]="colorHex">
      <app-x-button config="menu" (click)="closeTicketView()"></app-x-button>
    </div>

    <!-- Error Loading Ticket -->
    <div *ngIf="errorLoadingTicket" class="error-message">
      <p>Error loading ticket.</p>
      <button (click)="retryFetchTicket()">Retry</button>
    </div>

    <!-- Check if ticketDetails is available -->
    <div *ngIf="!errorLoadingTicket && ticketDetails" class="content-container">
      <!-- Left Section -->
      
<!-- Ticket Name -->
<div class="ticket-name-section">
  <textarea
    rows="1"
    id="ticket-name-textarea"
    class="ticket-name-textarea"
    [(ngModel)]="newName"
    [readonly]="!isEditingName"
    [ngClass]="{ 'editing': isEditingName }"
    (click)="onTicketNameClick($event)"
    (blur)="saveTicketName()"
    (input)="adjustTitleTextareaHeight()"
    (keydown.enter)="handleTitleEnter($event)"
    (keydown.escape)="cancelNameEditing()"
  ></textarea>
</div>

        <!-- Subheading -->
         <div class="subheading">
          <span>In list </span>
          <span class="list-name-subheading">{{ ticketDetails.listName }}</span>
         </div>

      <div class="description-actions-container">
<!-- Description -->
<div class="left-section">
<div class="description-section">
  <h3 class="description-title">DESCRIPTION</h3>
  <textarea
    id="ticket-description-textarea"
    [(ngModel)]="newDescription"
    [readonly]="!isEditingDescription"
    [ngClass]="{ 'editing': isEditingDescription }"
    (click)="onDescriptionClick($event)"
    (keydown.escape)="cancelDescriptionEditing()"
    (input)="adjustTextareaHeight()"
    placeholder="Click to add a description..."
  ></textarea>

  <div class="description-buttons"
  [ngClass]="isEditingDescription ? 'description-buttons' : 'hidden-description-buttons'">
    <button class="save-button" (click)="saveTicketDescription()">
      Save
    </button>
    <button class="cancel-button" (click)="cancelDescriptionEditing()">
      Cancel
    </button>
  </div>
</div>

      </div>

      <!-- Right Section -->
      <div class="right-section">
        <div class = "actions-container">
        <h3 class="actions-title">ACTIONS</h3>
        <button class="action-button" (click)="openMoveToListSubmenu($event)">
          Move to different list
        </button>
        <button class="action-button" (click)="openChangeCoverColorSubmenu($event)">
          Change cover color
        </button>
        <button
          class="delete-button"
          (click)="openDeleteConfirmationSubmenu($event)"
        >
          Delete
        </button>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
