 @import '../../../../assets/styles/main.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.ticket-detailed-view {
  position: relative;
  margin: auto;
  background-color: $neutral-darker;
  width: 50vw;
  min-height : 30rem;
  max-width: 50rem;
  max-height : 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: $secondary;
  margin-top : 15vh;
}

.header-stripe {
  position: relative;
  height: 5rem;
  margin-bottom : 0.3rem;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: $secondary;
  cursor: pointer;
}

.content-container {
  display: flex;
  padding : 2rem;
  flex-direction: column;
}

.description-actions-container {
  display : flex;
  gap : 1rem;
}

.left-section {
  flex: 2;
}



.ticket-name-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$text-field-offset : 0.3rem;

.ticket-name-textarea {
  width: 100%;
  @include font-size-xxl;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: $secondary;
  cursor: pointer;
  padding: 0; /* Removed vertical padding */
  padding-left: $text-field-offset;
  margin-left: -$text-field-offset;
  line-height: 1.2;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: $text-input-border-radius;
  resize: none;
  overflow: hidden;
  min-height: calc(1.2 * 1.7rem); /* Adjusted min-height for one line */
  max-height: 10rem; /* Adjust as needed */

  &:read-only {
    cursor: pointer;
  }

  &.editing {
    background-color: $background-lighter;
    border: 1px solid $secondary;
    cursor: text;
  }

  &::placeholder {
    color: rgb(255 255 255 / 55%);
  }
}


.subheading {
  @include font-size-sm;
  font-weight : 300;
  margin-bottom : 2rem;
}

.list-name-subheading {
  font-weight : 500;
}

.description-title {
  @include font-size-sm;
  font-weight : 550;
  letter-spacing: 0.05rem;
  margin-bottom : 0.2rem;
}

.actions-title {
  @include font-size-sm;
  font-weight : 550;
  letter-spacing: 0.05rem;
  margin-bottom : 0.5rem;
  
  
}

.description-section textarea {
  width: 100%;
  height: 6rem;
  @include font-size-md;
  max-height: 20rem;
  overflow-y: auto;
  border: none;
  background-color: transparent;
  color: $secondary;
  cursor: pointer;
  resize: none;
  padding: 0.1rem;
  padding-left : $text-field-offset;
  margin-left : -$text-field-offset;
  line-height: 1.4;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: $text-input-border-radius;
  white-space: pre-wrap;
  margin-bottom : 0.5rem;

  &:read-only {
    cursor: pointer;
  }

  &.editing {
    background-color: $background-lighter;
    border: 1px solid $secondary;
    cursor: text;
  }

  &::placeholder {
    color: rgb(255 255 255 / 55%);
    //color: $placeholder;
  }
}

.description-buttons {
  margin-bottom : 0.2rem;
  margin-left : -$text-field-offset;
}

.description-buttons .save-button,
.description-buttons .cancel-button {
  margin-right: 0.5rem;
}

.cancel-button {
  @include button($background-lighter, $error-darker, $min-width: 5rem, $max-width : 7rem, $scale: 0.8);
}

.save-button {
  @include button($secondary-darker, $success-darker, $font-color : $background, $min-width: 4.75rem, $max-width : 7rem, $scale: 0.8);
}

.hidden-description-buttons.description-buttons {
  visibility : hidden;
}

.right-section {
  display : flex;
  align-items : start;
  justify-content :end;
}

.actions-container {
  max-width : 8rem;
}

.action-button {
  @include button($min-width: 100%, $scale: 0.8, $margin-bottom : 0.4rem);
}

.delete-button {
  @include button($error, $error-darker, $min-width: 100%,  $scale: 0.8);
}

.error-message {
  padding: 16px;
  text-align: center;
}

.submenu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submenu-container {
  background-color: $neutral-lighter;
  border-radius: 8px;
}
