<h1>Project page</h1>
<div>
  <h1>Submit a Ticket</h1>
  <form (submit)="submitTicket()">
    <input type="text" [(ngModel)]="description" placeholder="Enter ticket description" required />
    <button type="submit">Submit</button>
  </form>

  <h2>Tickets</h2>
  <ul>
    <li *ngFor="let ticket of tickets">
      {{ ticket.description }}
    </li>
  </ul>
</div>


<!--
  'ngModel' sets up a link between the description variable in the TS file and the HTML file
  'ngModelChange' runs a function whenever the value of the variable changes.

  By only using [(ngModel)]="description", Angular automatically runs a function with 'ngModelChange' in the background.
  This function is set up to change the matching variables on both ends, meaning:
    - When you change the HTML variable in the form, it changes the matching variable in the TS file
    - When you change the TS variable in the TS code, it changes the matching variable in the HTML file
    - This means its a two-way binding

  However, you can also add the 'ngModelChange' manually, which will tell Angular you don't want to use it automatically.
    - If you like, you can create a function in the TS called onDescriptionChange, and then use it in the HTML input:
    (ngModelChange)="onDescriptionChange($event)"
    - So you have fine-grained control
    Unless you also create a custom function to change the HTML from the TS file, this will make this system a:
    - One-way binding
-->

<!--
  '*ngFor' allows you repeat an element for each item in a collection (e.g. an array). It generates copies of the element, populated with data from each item in the collection during each iteration.

  This is comparable to using .map() in React, where you iterate over an array and return a new array of JSX elements to render
    <ul>
      {tickets.map((ticket, index) => (  
        <li key={index}>{ticket.description}</li> 
      ))}
    </ul>
  (notice you need to manually set the key for each <li>)


  However, in Angular, you use the looping logic directly on the element you want to repeat 
    <ul>
      <li *ngFor="let ticket of tickets">
        {{ ticket.description }}
      </li>
    </ul>
  (notice you don't need to manually set the key for each <li>, as Angular will do this behind the scenes for you)
-->