@import '../../../../assets/styles/main.scss';


.board-thumbnail {
  position: relative;
  max-width: 100%;
  min-width : 7rem;
  height: 7rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  color: $secondary; // White font color
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform $button-transition-time ease; 
   /* Prevent the overlay from extending outside the thumbnail */

  @media (max-width : 380px) {
    max-width : 80vw;
    min-width : 80vw;
    padding: 0.7rem 1rem;
    min-height: 7rem;
    height : max-content;
  }

  .hover-overlay {
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15); /* Slightly dark transparent overlay */
    opacity: 0;
    transition: opacity $button-transition-time ease;
    z-index: 1; /* Ensure it stays behind the content but above the background */
  }

  &:hover .hover-overlay {
    opacity: 1; /* Show the overlay on hover */
  }

  .board-content {
    position: relative; /* Ensure content stays above the overlay */
    z-index: 2; /* Higher than the overlay */
  }


}


.board-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-name-wrapper {
  width : 90%;
}

.board-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight : 400;
  word-wrap: break-word; /* Ensures words will wrap */
  overflow-wrap: break-word; /* Modern alternative */
  white-space: normal; /* Allows text to wrap onto multiple lines */


  @media (max-width : 380px) {
    font-size : 1.8rem;
  }
}



.menu-button {
  padding-right : 0.3rem;
  padding-left : 0.3rem;
  background : none;
  margin-right : -0.5rem;
  border: none;
  color: $secondary-darker;
  font-size: 2rem;
  cursor: pointer;
  align-self: flex-start;
  transition: color $button-transition-time;
  &:hover {
    color : $placeholder;
  }

  @media (max-width : 380px) {
    margin-right : -0.2rem;
  }
}

.menu-wrapper {
  position: absolute;
  top: 16px;
  right: 16px;
}
