$button-transition-time : 0.2s;

@mixin button($bg-color:$primary, $hover-bg-color:$primary-darker, $disabled-color:$neutral-lighter, $width : max-content, $min-width : max-content, $max-width : max-content, $scale : 1, $margin-bottom : 0px, $font-color : $secondary) {
  padding: #{0.6 * $scale}rem #{0.6 * $scale}rem #{0.6 * $scale}rem #{0.6 * $scale}rem;
  text-align: center;
  background-color: $bg-color;
  color: $font-color;
  border-radius: calc(0.75rem * $scale);
  border: none;
  cursor: pointer;
  font-size: calc($font-size-sm * $scale);
  transition: background-color $button-transition-time ease;
  width: $width;
  min-width: $min-width;
  max-width: $max-width;
  margin-bottom : $margin-bottom;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}


