// Width variables
$menu-width-desktop: 240px;
$submenu-width-desktop: 240px;
$menu-width-mobile: calc(100vw - 48px); // 24px margin on each side
$menu-width-mobile-max: 400px;

$menu-mobile-scale : 1.8;

// Color variables
$menu-background-color : $neutral-darker;
$submenu-background-color : $neutral-lighter;
$menu-box-shadow : 0 0 20px 10px rgba(0, 0, 0, 0.3);

//=====================================================
// Menu container

@mixin menu-container-base($scale : 1) {
  background-color: $menu-background-color;
  border-radius: #{0.5 * $scale}rem;
  padding: #{1 * $scale}rem;
  width: max-content;
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: start;
  box-shadow: $menu-box-shadow;
  color : $secondary;

  > * {
    width: 100%;
  }

  // Centre menu in the center of the screen on mobile
  @media (max-width: $breakpoint-mobile) /*790px*/{
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
}

@mixin menu-container {
  @media (max-width: $breakpoint-mobile) {
    @include menu-container-base($menu-mobile-scale)
  }
  @media (min-width : $breakpoint-minimum-desktop) {
    @include menu-container-base()
  }
}

//=====================================================
// Menu header

@mixin menu-header-base($scale : 1) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: #{1 * $scale}rem;
  gap : #{1 * $scale}rem;

    h3 {
      font-size: #{1.25 * $scale}rem;
      font-weight:500;
    }
}

@mixin menu-header {
  @media (max-width: $breakpoint-mobile) {
    @include menu-header-base($menu-mobile-scale)
  }
  @media (min-width : $breakpoint-minimum-desktop) {
    @include menu-header-base()
  }
}

//=====================================================
// Menu buttons container

@mixin menu-buttons-container {
  display: flex;
  flex-direction: column;
}

// ===================================================
// Menu buttons

@mixin menu-button-base($scale) {
  @include button($min-width: 100%, $scale: $scale, $margin-bottom: #{0.5 * $scale}rem);
}

@mixin submenu-button-base($scale) {
  @include button($min-width: max-content, $scale: $scale);
}

@mixin submenu-confirmation-button-base($scale) {
  @include button($error, $error-darker, $min-width: max-content, $scale: $scale);
}

@mixin menu-confirmation-button-base($scale) {
  @include button($error, $error-darker, $min-width: 100%, $scale: $scale);
}


@mixin menu-button {
  @media (max-width: $breakpoint-mobile) {
    @include menu-button-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include menu-button-base(1.2);
  }
}

@mixin submenu-button {
  @media (max-width: $breakpoint-mobile) {
    @include submenu-button-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include submenu-button-base(1.2);
  }
}

@mixin submenu-confirmation-button {
  @media (max-width: $breakpoint-mobile) {
    @include submenu-confirmation-button-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include submenu-confirmation-button-base(1.2);
  }
}

@mixin menu-confirmation-button {
  @media (max-width: $breakpoint-mobile) {
    @include menu-confirmation-button-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include menu-confirmation-button-base(1.2);
  }
}

// ===================================================
// Input

@mixin input-core ($scale : 1) {
  margin-top : #{0.25 * $scale}rem;
  //display : block;
  width : 100%;
  margin-bottom : #{1 * $scale}rem;
  padding: #{0.5 * $scale}rem;
  border-radius: #{0.3 * $scale}rem;
  font-size: #{0.8 * $scale}rem;
  background-color: $secondary;
  box-sizing: border-box;
  border : none;
}

@mixin input-group-base($scale : 1) {
  margin-top : #{0.5 * $scale}rem;
  font-weight: 500;

  label {
    font-size : #{1 * $scale}rem;
  }

  input[type='text'] {
    @include input-core($scale);
  }

  select {
    @include input-core($scale);
    padding-right : #{1 * $scale}rem;
    text-overflow : ellipsis;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'><path%20fill='%23aaa'%20d='M2%200L0%202h4L2%200z%20M2%205L0%203h4l-2%202z'/></svg>");
    background-repeat: no-repeat;
    background-position: right #{0.5 * $scale}rem center;
    background-size: #{0.5 * $scale}rem #{0.65 * $scale}rem;
  }
}

@mixin input-group() {
  @media (max-width: $breakpoint-mobile) {
    @include input-group-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include input-group-base();
  }
}

// ===================================================
// Background selection header

@mixin background-selection-header-base($scale : 1) {
  font-size : #{1 * $scale}rem;
  margin-bottom : #{0.5 * $scale}rem;
}

@mixin background-selection-header {
  @media (max-width: $breakpoint-mobile) {
    @include background-selection-header-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include background-selection-header-base();
  }
}

// ===================================================
// Confirmation message

@mixin confirmation-message-base($scale : 1) {
  margin-bottom : #{0.5 * $scale}rem;
  font-size: #{1 * $scale}rem;
  max-width : #{15 * $scale}rem;
  font-weight:normal;
}

@mixin confirmation-message {
  @media (max-width: $breakpoint-mobile) {
    @include confirmation-message-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include confirmation-message-base();
  }
}

// ===================================================
// Color selection

@mixin colors-container-base($scale : 1) {
  display: grid;
  width: 100%; 
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 1fr; 
  gap: #{0.5 * $scale}rem; 
  margin-bottom : #{1 * $scale}rem;
}

@mixin colors-container {
  @media (max-width: $breakpoint-mobile) {
    @include colors-container-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include colors-container-base();
  }
}

@mixin color-box-base($scale : 1) {
  aspect-ratio: 1;
  border-radius: #{0.5 * $scale}rem;
  cursor: pointer;
  box-shadow: 0 0 0 #{0.15 * $scale}rem transparent;

  &.selected {
    box-shadow: 0 0 0 #{0.15 * $scale}rem $background-lighter; 
  }
}

@mixin color-box {
  @media (max-width: $breakpoint-mobile) {
    @include color-box-base($menu-mobile-scale);
  }

  @media (min-width: $breakpoint-minimum-desktop) {
    @include color-box-base();
  }
}

// Colors for x-button used on menu
$menu-x-button-color : $background-lighter;
$menu-x-button-hover-color : $error-darker;

