/* You can add global styles to this file, and also import other style files */
@import './gradients';
@import './colors';
@import './buttons';
@import './menus';
@import './font-sizes';
@import './universal-screensizes';

$page-max-width : 1200px;

html, body { height : 100%; overflow-x: auto; background : $background; }
* {
  font-family: "Lato", sans-serif !important; 
  margin: 0;
  padding : 0;
  line-height : 1;
}

// Text input field consistency variables:
$text-input-border-radius : 0.5rem;

// Ticket / Placeholder consistency variables:
$ticket-border-radius : 0.8rem;
$ticket-name-vertical-padding : 0.5rem;
$ticket-color-strip-height : 2rem;

// List / Placeholder consistency variables
$list-border-radius : 1rem;
$list-horizontal-padding : 0.75rem;
$list-vertical-padding : 0.75rem;
$list-width: 15.5rem;
$total-list-width: $list-width + ($list-horizontal-padding * 2);

:root {
  --list-horizontal-padding: #{$list-horizontal-padding};
}


@mixin no-highlight {
    -webkit-user-select: none; /* Safari and Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Standard syntax */
}


// Media query breakpoints
$breakpoint-mobile: 790px;
$breakpoint-minimum-desktop : 791px;
$breakpoint-small-mobile: 320px;

// Media query mixins
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: $breakpoint-small-mobile) {
    @content;
  }
}

// Standardized variables for x-button
$x-button-scale: 1;
$x-button-color: $neutral-darker;
$x-button-hover-color: $background-lighter;

// Backdrop styles
.dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.transparent-backdrop {
  background: transparent;
}

$box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);