/* You can add global styles to this file, and also import other style files */
@import './gradients';
@import './colors';

$page-max-width : 1200px;

html, body { height: 100vh; overflow-y: hidden; overflow-x: auto; background : $background; }
* {
  font-family: "Lato", sans-serif !important; 
  margin: 0;
  padding : 0;
  
}

// Ticket / Placeholder consistency variables:
$ticket-border-radius : 0.8rem;
$ticket-name-vertical-padding : 0.5rem;
$ticket-color-strip-height : 2rem;

// List / Placeholder consistency variables
$list-border-radius : 1.5rem;
$list-horizontal-padding : 1.2rem;
$list-vertical-padding : 1.5rem;
$list-width: 18.75rem;
$total-list-width: $list-width + ($list-horizontal-padding * 2);


// Width variables
$menu-width-desktop: 240px;
$submenu-width-desktop: 240px;
$menu-width-mobile: calc(100vw - 48px); // 24px margin on each side
$menu-width-mobile-max: 400px;

// Media query breakpoints
$breakpoint-mobile: 790;
$breakpoint-small-mobile: 320;

// Media query mixins
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}px) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$breakpoint-small-mobile}px) {
    @content;
  }
}

// Standardized variables for x-button
$x-button-scale: 1;
$x-button-color: $neutral-darker;
$x-button-hover-color: $background-lighter;

// Backdrop styles
.dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.transparent-backdrop {
  background: transparent;
}

$box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);