.colors-container {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Adjust as needed */
  background : red;
  width : min-content;
}

.color-box-pair {
  display: flex;
  justify-content: flex-start;
  gap: 8px; /* Spacing between the two color boxes */
}

.color-box {
  width: 100px; /* Adjust width as desired */
  height: 50px; /* Adjust height as desired */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Text color for contrast */
  font-size: 0.8em;
  border-radius: 0.4em;
}
