<button class="icon-button" [style.--color]="color" [style.--hover-color]="hoverColor">
  <svg
    [attr.width]="getWidth()"
    [attr.height]="getHeight()"
    viewBox="0 0 50 38"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      class="svg-rect"
      width="50"
      height="6.73684"
      rx="3.36842"
    />
    <rect
      class="svg-rect"
      [attr.y]="15.1579"
      width="50"
      height="6.73684"
      rx="3.36842"
    />
    <rect
      class="svg-rect"
      [attr.y]="30.3158"
      width="50"
      height="6.73684"
      rx="3.36842"
    />
  </svg>
</button>
