@import '../../../assets/styles/main.scss';

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 0;

  svg {
    display: block;
  }

  .svg-rect {
    fill: var(--color, var(--secondary-darker));
    transition: fill $button-transition-time;
  }

  &:hover .svg-rect {
    fill: var(--hover-color, var(--primary));
  }
}
